# Python
/venv/
/__pycache__/
/.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
*.egg-info
build/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
